* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  position: relative;
}

.woman-img,
.woman-img-top {
  height: 100vh;
}

.woman-img-top {
  filter: url("#myfilter");
  position: absolute;
  top: 0;
  left: 0;
}
